---
import Layout from "../layouts/Layout.astro"

---

<Layout title="CCM - Services">
    <h2>Services</h2>
    <main>
        <section>
            <h3>Tap Installation & Repair</h3>
        </section>

        <section>
            <h3>Plumbing leak detection & pipe repair</h3>
        </section>
        <section>
            <h3>Shower Installation</h3>
        </section>

        <section>
            <h3>Toilet Installation & Repair</h3>
        </section>

        <section>
            <h3>Water Heater Installations</h3>
        </section>

        <section>
            <h3>Waste Disposal Installations</h3>
        </section>
    </main>
</Layout>

<style>
    h2 {
        padding: 1rem;
    }

    main {
        padding: 1rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto auto auto;
        gap: 1rem;
    }

    section {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: rgb(var(--accent), 15%)
    }
</style>