---
import Nav from "./Nav.astro";

const {title} = Astro.props;

---

<header>
    <h1 class="hide-mobile"><em>Connor's Custom Plumbing</em></h1>
    <div class="logo">CCM</div>
    <Nav title={title}/>

</header>

<style>
    header {
        padding: 1.5rem;

        border-bottom: 4px solid rgb(var(--accent));
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: var(--accent-gradient);
        
        width: 100%;
        height: 100px;

        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        align-items: center;
    }

    h1 {
        grid-column: 2/3;
        grid-row: 1/2;

        font-family: 'Comfortaa', sans-serif;
        font-size: 2.25rem;
        color: rgb(var(--copper-accent));
        font-weight: 900;
        padding-left: 1rem;
    }

    div.logo {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    @media only screen and (min-width: 768px) {
        div.hide-mobile {
            display: none;
        }
    }
    @media only screen and (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }

    }

    @media only screen and (max-width: 576px) {
        h1 {
            font-size: 2rem;
        }

        h1.hide-mobile {
            display: none;
        }

        div.hide-mobile {
            display: block;
        }
    }


</style>